<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.dao.CheckGroupMapper">

    <sql id="Base_Column_List">
        id,
        code,
        `name`,
        helpCode,
        sex,
        remark,
        attention
    </sql>
    <resultMap id="BaseResultMap" type="com.itheima.pojo.CheckGroup">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="helpCode" property="helpCode"/>
        <result column="sex" property="sex"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
    </resultMap>

    <resultMap id="findByIdResultMap" type="com.itheima.pojo.CheckGroup">
        <collection
                property="checkItems"
                ofType="com.itheima.pojo.CheckItem"
                javaType="arraylist"
                column="id"
                select="com.itheima.dao.CheckItemMapper.findCheckItemById">

        </collection>

    </resultMap>

    <insert id="add" parameterType="com.itheima.pojo.CheckGroup">

        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">SELECT LAST_INSERT_ID()</selectKey>

        insert
        into t_checkgroup(code,name,sex,helpCode,remark,attention) values
        (#{code},#{name},#{sex},#{helpCode},#{remark},#{attention})

    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-12-21-->
    <select id="findByCondition" resultType="com.itheima.pojo.CheckGroup" parameterType="String">
        select
        *
        from t_checkgroup
        <where>
            <if test="queryString != null and queryString.length > 0">
                code LIKE "%"#{queryString}"%"
                OR name LIKE "%"#{queryString}"%"
                OR helpCode LIKE "%"#{queryString}"%"
            </if>
        </where>
    </select>

    <select id="findById" parameterType="int" resultType="com.itheima.pojo.CheckGroup">
        SELECT *
        FROM t_checkgroup
        WHERE id = #{id}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-24-->
    <update id="updateById" parameterType="com.itheima.pojo.CheckGroup">
        update t_checkgroup
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="helpCode != null">
                help_code = #{helpCode},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="attention != null">
                attention = #{attention},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findAll" resultType="com.itheima.pojo.CheckGroup">
        SELECT *
        FROM t_checkgroup
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-03-->
    <delete id="deleteById">
        delete from t_checkgroup
        where id=#{id}
    </delete>

    <select id="findCheckGroupById" parameterType="int" resultMap="findByIdResultMap">
      SELECT *
      FROM t_checkgroup
      WHERE
      id IN (
        SELECT checkgroup_id
        FROM t_setmeal_checkgroup
        WHERE setmeal_id = #{id}
      )
    </select>

</mapper>