<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        " http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.dao.CheckItemMapper">

    <sql id="Base_Column_List">
        id,
        code,
        `name`,
        sex,
        age,
        price,
        `type`,
        remark,
        attention
    </sql>
    <resultMap id="BaseResultMap" type="com.itheima.pojo.CheckItem">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="price" property="price"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
    </resultMap>
    <insert id="add" parameterType="com.itheima.pojo.CheckItem" >
        insert into t_checkitem(code,name,sex,age,price,type,remark,attention)
        values (#{code},#{name},#{sex},#{age},#{price},#{type},#{remark},#{attention})
    </insert>

    <select id="selectByCondition" parameterType="string" resultType="com.itheima.pojo.CheckItem">
        SELECT *
        FROM t_checkitem
        <where>
            <if test="queryString != null and queryString.length > 0">
                code LIKE "%"#{queryString}"%"
              OR name LIKE "%"#{queryString}"%"
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="integer">
        delete from t_checkitem where id = #{id}
    </delete>

<!--auto generated by MybatisCodeHelper on 2019-12-20-->
    <update id="updateById" parameterType="com.itheima.pojo.CheckItem">
        update t_checkitem
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="attention != null">
                attention = #{attention},
            </if>
        </set>
        where id=#{id}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-12-20-->
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_checkitem
        where id=#{id}
    </select>

    <select id="findAll" resultType="com.itheima.pojo.CheckItem">
        SELECT <include refid="Base_Column_List"/>
        FROM t_checkitem
    </select>

    <select id="findCheckItemById" parameterType="com.itheima.pojo.CheckItem" resultType="com.itheima.pojo.CheckItem">
        SELECT <include refid="Base_Column_List"/>
        From t_checkitem
        WHERE id IN (
          SELECT checkitem_id
          FROM t_checkgroup_checkitem
          WHERE checkgroup_id = #{id}
        )
    </select>

</mapper>